<form method="POST" enctype="multipart/form-data">
    <div class="mb-1">
        <div class="float-xs-left">
            <a href="/admin/product/index" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i> Back</a>
        </div>
        <div class="float-xs-right">
            <a href="#" data-href="/admin/product/delete/{{product._id}}" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal"><i class="mdi mdi-delete"></i> Delete</a>
            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i> Save</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputProductName">Name</label>
                <input name="product[name]" type="text" class="form-control" id="inputProductName" placeholder="Product name" value="{{product.name}}">
            </div>
            <div class="form-group">
                <label for="inputProductDescription">Description</label>
                <textarea name="product[description]" class="form-control js-summernote-control" id="inputProductDescription" rows="3">{{{product.description}}}</textarea>
            </div>
            <div class="form-group">
                <label for="inputProductCategory">Categories</label>
                <select name="product[category][]" class="form-control" id="inputProductCategory" multiple="multiple" size="1" style="width: 100%">
                    {{#if product.category}}
                        {{#each product.category}}
                            <option value="{{_id}}" selected="selected">{{name}}</option>
                        {{/each}}
                    {{/if}}
            </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductVendor">Vendor</label>
                        <select name="product[vendor]" class="form-control" id="inputProductVendor">
                            {{#if product.vendor}}
                                <option value="{{product.vendor._id}}" selected="selected">{{product.vendor.name}}</option>
                            {{/if}}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductShop">Shop</label>
                        <select name="product[shop]" class="form-control" id="inputProductShop">
                            {{#if product.shop}}
                                <option value="{{product.shop._id}}" selected="selected">{{product.shop.name}}</option>
                            {{/if}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductPrice">Price</label>
                        <div class="input-group">
                            <input name="product[price]" type="text" class="form-control" id="inputProductPrice" placeholder="0.00" value="{{product.price}}">
                            <span class="input-group-addon">RUB</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductOldprice">Old price</label>
                        <div class="input-group">
                            <input name="product[oldPrice]" type="text" class="form-control" id="inputProductOldprice" placeholder="0.00" value="{{product.oldPrice}}">
                            <span class="input-group-addon">RUB</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputProductUrl">Url</label>
                <input name="product[url]" type="text" class="form-control" id="inputProductUrl" placeholder="URL" value="{{product.url}}">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductColor">Color</label>
                        <select name="product[color][]" class="form-control" id="inputProductColor" multiple="multiple">
                        <option value="Белый">Белый</option>
                        <option value="Розовый">Розовый</option>
                        <option value="Синий">Синий</option>
                        <option value="Красный">Красный</option>
                        <option value="Черный">Черный</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductMaterial">Material</label>
                        <select name="product[material][]" class="form-control" id="inputProductMaterial" multiple="multiple">
                        <option value="Замш">Замш</option>
                        <option value="Кожа">Кожа</option>
                        <option value="Кожзам.">Кожзам.</option>
                        <option value="Хлопок">Хлопок</option>
                        <option value="Шерсть">Шерсть</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputProductSize">Size</label>
                        <select name="product[size][]" class="form-control" id="inputProductSize" multiple="multiple">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Age</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios1" value="0">
                            None
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="1">
                            Toddler
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="2">
                            Child
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="3">
                            Adults
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Season</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios1" value="0">
                            None
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios1" value="1">
                            Summer
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="2">
                            Winter
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="3">
                            Demi
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="4">
                            All-season
                        </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sex</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios1" value="0">
                            None
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="1">
                            Women
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="2">
                            Men
                        </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="3">
                            Unisex
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputProductSlug">Slug</label>
                <input name="product[slug]" type="text" class="form-control" id="inputProductSlug" placeholder="product-name-vendor-id" value="{{product.slug}}">
            </div>
            <div class="form-group">
                <label for="inputProductMetaTitle">Meta Title</label>
                <input name="product[meta][title]" type="text" class="form-control" id="inputProductMetaTitle" placeholder="Title" value="{{product.meta.title}}">
            </div>
            <div class="form-group">
                <label for="inputProductMetaDescription">Meta Description</label>
                <textarea name="product[meta][description]" class="form-control" id="inputProductMetaDescription" rows="3">{{product.meta.description}}</textarea>
            </div>
            <div class="form-group">
                <label>Picture</label> {{#if product.picture}}
                <div class="clearfix m-y-1">
                    <img src="{{pictUrl}}{{product.picture}}" style="max-height: 320px;" />
                </div>
                {{else}}
                <div class="clearfix"></div>
                {{/if}}
                <input type="hidden" name="product[picture]" value="{{product.picture}}" />
                <label class="custom-file">
                    <input name="image" type="file" id="image" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete this product!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>