<form method="POST" enctype="multipart/form-data">
    <div class="mb-1">
        <div class="float-xs-left">
            <a href="/admin/shop/index" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i> {{__ "Back"}}</a>
        </div>
        <div class="float-xs-right">
            <a href="#" data-href="/admin/shop/delete/{{shop._id}}" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal"><i class="mdi mdi-delete"></i> {{__ "Delete"}}</a>
            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i> {{__ "Save"}}</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputShopName">{{__ "Name"}}</label>
                <input name="shop[name]" type="text" class="form-control" id="inputShopName" placeholder="Shop name" value="{{shop.name}}">
            </div>
            <div class="form-group">
                <label for="inputShopDescription">{{__ "Description"}}</label>
                <textarea name="shop[description]" class="form-control js-summernote-control" id="inputShopDescription" rows="3">{{{shop.description}}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputShopSlug">{{__ "Slug"}}</label>
                <input name="shop[slug]" type="text" class="form-control" id="inputShopSlug" placeholder="shop-name-shop-id" value="{{shop.slug}}">
            </div>
            <div class="form-group">
                <label for="inputShopMetaTitle">{{__ "Meta Title"}}</label>
                <input name="shop[meta][title]" type="text" class="form-control" id="inputShopMetaTitle" placeholder="Title" value="{{shop.meta.title}}">
            </div>
            <div class="form-group">
                <label for="inputShopMetaDescription">{{__ "Meta Description"}}</label>
                <textarea name="shop[meta][description]" class="form-control" id="inputShopMetaDescription" rows="3">{{shop.meta.description}}</textarea>
            </div>
            <div class="form-group">
                <label>{{__ "Picture"}}</label> {{#if shop.picture}}
                <div class="clearfix m-y-1">
                    <img class="img-fluid" src="/public/uploads/pictures/shop/{{shop.picture.name}}" alt="{{shop.name}}" />
                </div>
                {{else}}
                <div class="clearfix"></div>
                {{/if}}
                <label class="custom-file">
                    <input name="image" type="file" id="image" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete this shop!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary btn-ok">Ok</a>
            </div>
        </div>
    </div>
</div>