<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/admin/assets/css/select2.min.css" rel="stylesheet">
    <link href="/admin/assets/css/select2-bootstrap.min.css" rel="stylesheet">

    <link href="/admin/assets/summernote/bs4/summernote.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/assets/css/simple-sidebar.css" rel="stylesheet">
</head>

<body class="preload">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="bg-inverse">
            <div class="navbar navbar-dark">
                <a class="navbar-brand" href="/admin">Trendberry</a>
            </div>
            <div class="navbar-dark">
                <ul class="nav navbar-nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category/index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/index">Products</a>
                    </li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/vendor/index">Vendors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/page/index">Pages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/menu/index">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/store/index">Shops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/settings/index">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-static-top navbar-dark bg-inverse">
                <a href="#menu-toggle" class="navbar-brand" id="menu-toggle"><i class="mdi mdi-menu"></i></a>
                <!-- <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul> -->
                <!-- <form class="form-inline pull-xs-right">
                    <input class="form-control" type="text" placeholder="Search">
                </form> -->
            </nav>
            {{#if breadcrumbs}}
                <ol class="breadcrumb">
                    {{#each breadcrumbs}}
                        {{#unless @last}}
                            <li class="breadcrumb-item">
                                <a href="{{url}}" itemprop="url">
                                    <span itemprop="title">{{name}}</span>
                                </a>
                            </li>
            {{else}}
                <li class="breadcrumb-item active">
                    <span>{{name}}</span>
                </li>
                        {{/unless}}
                    {{/each}}
                </ol>
            {{/if}}
            <div class="container-fluid">
                {{{body}}}
            </div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">Trendberry</span>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/admin/assets/js/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="/admin/assets/js/tether.min.js"></script>
    <script src="/admin/assets/js/bootstrap.min.js"></script>
    <script src="/admin/assets/js/holder.min.js"></script>
    <script src="/admin/assets/js/select2.full.min.js"></script>
    <script src="/admin/assets/summernote/bs4/summernote.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="/admin/assets/js/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function() {

            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $('#select-all-toggle').click(function() {
                var checkBoxes = $('input.select-all');
                checkBoxes.prop('checked', $(this).prop('checked'));
            });

            $('#deleteConfirmModal').on('show.bs.modal', function(e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).attr('data-href'));
            });

            Holder.addTheme('gray', {
                bg: '#777',
                fg: 'rgba(255,255,255,.75)',
                font: 'Helvetica',
                fontweight: 'normal'
            })


            $.fn.select2.defaults.set("theme", "bootstrap");

            $('#inputCategoryCategory').select2({
                ajax: {
                    url: "/admin/category/search",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            searchString: params.term,
                            limit: 10
                        };
                    },
                    processResults: function(data, page) {
                        $.each(data, function(index, element) {
                            data[index].id = element._id;
                            data[index].text = element.name;
                            if (element.ancestors.length > 0) {
                                data[index].text += ' (' + element.ancestors[0].name + ')';
                            }
                        });

                        data.unshift({
                            id: '',
                            text: 'None'
                        });

                        return {
                            results: data
                        };
                    },
                    method: 'POST'
                }
            });

            $('#inputProductCategory').select2({
                ajax: {
                    url: "/admin/category/search",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            searchString: params.term,
                            limit: 10
                        };
                    },
                    processResults: function(data, page) {
                        $.each(data, function(index, element) {
                            data[index].id = element._id;
                            data[index].text = element.name;
                            if (element.ancestors.length > 0) {
                                data[index].text += ' (' + element.ancestors[0].name + ')';
                            }
                        });

                        return {
                            results: data
                        };
                    },
                    method: 'POST'
                }
            });

            $('#inputProductVendor').select2({
                ajax: {
                    url: "/admin/vendor/search",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            searchString: params.term,
                            limit: 10
                        };
                    },
                    processResults: function(data, page) {
                        $.each(data, function(index, element) {
                            data[index].id = element._id;
                            data[index].text = element.name;
                        });

                        return {
                            results: data
                        };
                    },
                    method: 'POST'
                }
            });

            $('.js-summernote-control').summernote()
                // Hide the initial popovers that display
            $('.note-popover').css({
                'display': 'none'
            });

            $('[data-toggle="tooltip"]').tooltip();

            $('body').removeClass('preload');


        });
    </script>

</body>

</html>
