<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/assets/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="bg-inverse">
            <div class="navbar navbar-dark">
                <a class="navbar-brand" href="/admin">Trendberry</a>
            </div>
            <div class="navbar-dark">
                <ul class="nav navbar-nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category/index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/index">Products</a>
                    </li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/vendor/index">Vendors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/store/index">Stores</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-static-top navbar-dark bg-inverse">
                <a href="#menu-toggle" class="navbar-brand" id="menu-toggle"><i class="mdi mdi-menu"></i></a>
                <!-- <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul> -->
                <!-- <form class="form-inline pull-xs-right">
                    <input class="form-control" type="text" placeholder="Search">
                </form> -->
            </nav>
            {{#if breadcrumb}}
                <ol class="breadcrumb">
                    {{#each breadcrumb}}
                        {{#unless @last}}
                            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="{{this.url}}" itemprop="url">
                                    <span itemprop="title">{{this.label}}</span>
                                </a>
                            </li>
            {{else}}
                <li>
                    <span>{{this.label}}</span>
                </li>
                        {{/unless}}
                    {{/each}}
                </ol>
            {{/if}}
            <div class="container-fluid">
                {{{body}}}
            </div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">Trednberry</span>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/admin/assets/js/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="/admin/assets/js/tether.min.js"></script>
    <script src="/admin/assets/js/bootstrap.min.js"></script>
    <script src="/admin/assets/js/holder.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="/admin/assets/js/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $("#select-all-toggle").click(function() {
            var checkBoxes = $('input[name=products\\[\\]]');
            checkBoxes.prop('checked', !checkBoxes.prop('checked'));
        });

        $('#deleteConfirmModal').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).attr('data-href'));
        });

        Holder.addTheme('gray', {
            bg: '#777',
            fg: 'rgba(255,255,255,.75)',
            font: 'Helvetica',
            fontweight: 'normal'
        })
    </script>

</body>

</html>
