<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <div class="float-left">
            <a href="/admin/product/index" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i> {{__ "Back"}}</a>
        </div>
        <div class="float-right">
            <a href="#" data-href="/admin/product/delete/{{product._id}}" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal"><i class="mdi mdi-delete"></i> {{__ "Delete"}}</a>
            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i> {{__ "Save"}}</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputProductName">{{__ "Name"}}</label>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputProductNameWhiteslist">{{__ "Whitelist"}}</label>
                        <div class="form-control" id="inputProductNameWhiteslist" style="height: 152px;">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputProductNameBlacklist">{{__ "Blacklist"}}</label>
                        <div class="form-control" id="inputProductNameBlacklist" style="height: 152px;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputProductNameVariants">&nbsp;</label><br>
            <label for="inputProductNameVariants">{{__ "Name"}}</label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control" id="inputProductNameVariants" style="height: 152px;">
                        <div class="btn btn-block btn-secondary" value="Сумка">Сумка</div>
                        <div class="btn btn-block btn-secondary" value="женская">женская</div>
                        <div class="btn btn-block btn-secondary" value="Brioni">Brioni</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete this product!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>