<div class="form-group{{#if error}} has-danger{{/if}}">
    <label class="form-control-label" for="input{{id}}">{{__ label}}</label>
    <select name="{{name}}" class="form-control{{#if error}} form-control-danger{{/if}}" id="input{{id}}"{{#if multiple}} multiple="multiple"{{/if}}{{#if size}} size="{{size}}"{{/if}}>
        {{#if value.length}}
            {{#if multiple}}
                {{#each value}}
                    {{#if this._id}}
                        <option value="{{_id}}" selected="selected">{{name}}</option>
                    {{else}}
                        <option value="{{this}}" selected="selected">{{this}}</option>
                    {{/if}}
                {{/each}}
            {{/if}}
        {{else}}
            {{#if value}}
                <option value="{{value._id}}" selected="selected">{{value.name}}</option>
            {{/if}}
        {{/if}}
    </select>
    {{#if error}}
        <div class="form-control-feedback">{{error.message}}</div>
    {{/if}}
</div>