<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <div class="float-left">
            <a href="/admin/category/index" class="btn btn-secondary">
                <i class="mdi mdi-chevron-left"></i> {{__ "Back"}}</a>
        </div>
        <div class="float-right">
            <a href="#" data-href="/admin/category/delete/{{category._id}}" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">
                <i class="mdi mdi-delete"></i> {{__ "Delete"}}</a>
            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-check"></i> {{__ "Save"}}</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            {{> formGroupInput id="CategoryName" label="Name" name="category[name]" placeholder="Category name" value=category.name error=errors.name}}
            {{> formGroupTextarea id="CategoryDescription" label="Description" name="category[description]" placeholder="Category
            description" value=category.description error=errors.description editor=true rows="6"}} {{> formGroupSelect id="CategoryParent"
            label="Categories" name="category[parent]" placeholder="Parent category" value=product.category error=errors.parent}}
            {{!--
            <div class="form-group">
                <label for="inputCategoryParent">{{__ "Parent category"}}</label>
                <select name="category[parent]" class="form-control" id="inputCategoryParent">
                    {{#if category.parent}}
                    <option value="{{category.parent._id}}" selected>{{category.parent.name}}</option>
                    {{/if}}
                </select>
            </div>--}}
        </div>
        <div class="col-md-6">
            {{> formGroupInput id="CategorySlug" label="Slug" name="category[slug]" placeholder="Category slug" value=category.slug error=errors.slug}}
            {{> formGroupInput id="CategoryMetaTitle" label="Meta Title" name="category[meta][title]" placeholder="Meta Title"
            value=category.meta.title error=errors.meta.title}} {{> formGroupTextarea id="CategoryMetaDescription" label="Meta
            Description" name="category[meta][description]" placeholder="Meta Description" value=category.meta.description
            error=errors.meta.description}}
            <div class="form-group">
                <label>{{__ "Picture"}}</label>
                {{#if category.picture}}
                <div class="clearfix m-y-1">
                    {{#each category.picture}}
                    <img class="img-thumbnail" src="{{../pictUrl}}{{name}}" style="max-height: 320px;" />
                    <span class="img-thumbnail" style="display: inline-block;width: 2rem;height: 2rem;margin: .25rem;background-color: #{{color}};border: 1px solid;"></span>
                    {{/each}}
                </div>
                {{else}}
                <div class="clearfix"></div>
                {{/if}}
                <label class="custom-file">
                    <input name="image" type="file" id="image" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete this category!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary btn-ok">Ok</a>
            </div>
        </div>
    </div>
</div>