<form method="POST">
    {{#if categories}}
        <div class="mb-1">
            <div class="float-xs-left">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bulk actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Add to category</a>
                        <a class="dropdown-item" href="#">Move to category</a>
                        <button class="dropdown-item" onclick="form.action='/admin/category/delete';">Delete</button>
                    </div>
                </div>
            </div>

            <div class="float-xs-right">
                <a href="/admin/category/create" class="btn btn-primary"><i class="mdi mdi-plus"></i> New category</a>
            </div>
            <div class="clearfix"></div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 1%;">
                        <label class="custom-control custom-checkbox m-0">
                            <input class="custom-control-input" type="checkbox" id="select-all-toggle">
                            <span class="custom-control-indicator"></span>&nbsp;
                        </label>
                    </th>
                    <th style="width: 1%;">#</th>
                    <!--<th style="width: 71px;">Image</th>-->
                    <th>Name</th>
                    <!-- <th style="width: 1%;">Category</th>
                <th style="width: 1%;">Vendor</th> -->
                    <th style="width: 130px;">Actions</th>
                </tr>
            </thead>
            
                {{#each categories}}
                    {{#unless this.parent}}
                        {{#if @index}}
                            </tbody>
                            <tbody>
                        {{else}}
                            <tbody>
                        {{/if}}
                    {{/unless}}
                    <tr class="tree-{{this.ancestors.length}} {{this.class}}">
                        <th>
                            <label class="custom-control custom-checkbox m-0">
                                <input name="categories[]" class="custom-control-input select-all" type="checkbox" value="{{this._id}}">
                                <span class="custom-control-indicator"></span>&nbsp;
                            </label>
                        </th>
                        <th scope="row">{{@index}}</th>
                        <!--<td>
                            <img {{#if this.picture}} src="/public/uploads/{{this.picture}}" {{else}} data-src="holder.js/40x40" {{/if}} alt="category image" class="rounded" style="height:40px; width: 40px;" />
                        </td>-->
                        <td>
                            {{#each ancestors}}
                                {{#unless @last}}
                                    <span class="tree-line"></span>
                                    <!-- <span class="tree-line" data-toggle="tooltip" data-placement="left" title="{{this.name}}"></span> -->
                                {{/unless}}
                            {{/each}}
                            <a href="/admin/category/update/{{this._id}}">{{this.name}}</a>
                        </td>
                        <!-- <td>Женщине, Одежжда, Верхняя одежда, Шубы</td> -->
                        <!-- <td>Otto</td> -->
                        <td>
                            <a href="#" class="btn btn-info btn-sm"><i class="mdi mdi-eye"></i></a>
                            <a href="/admin/category/update/{{this._id}}" class="btn btn-primary btn-sm"><i class="mdi mdi-lead-pencil"></i></a>
                            <a href="#" data-href="/admin/category/delete/{{this._id}}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmModal"><i class="mdi mdi-delete"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if showPagination}}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{#paginate pagination type="first" }}
                        <li class="page-item{{#if disabled}} disabled{{/if}}">
                            <a class="page-link" href="/admin/category/index?page={{n}}" tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="7" }}
                        <li class="page-item{{#if active}} active{{/if}}"><a class="page-link" href="/admin/category/index?page={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last" }}
                        <li class="page-item{{#if disabled}} disabled{{/if}}">
                            <a class="page-link" href="/admin/category/index?page={{n}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/paginate}}
                </ul>
            </nav>
        {{/if}}

    {{else}}
        <div class="jumbotron text-xs-center mx-auto" style="background-color: transparent; max-width: 728px;">
            <h1 class="display-4">No categories are found.</h1>
            <p class="lead">You can create new one.</p>
            <a href="/admin/category/create" class="btn btn-primary"><i class="mdi mdi-plus"></i> New category</a>
        </div>
    {{/if}}
</form>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete this category!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary btn-ok">Ok</a>
            </div>
        </div>
    </div>
</div>
